*:not(ul, ol) {
  margin: 0;
  padding: 0;
}

$brand-color: #646cff;
$font-color: rgba(255, 255, 255, 0.87);
$background-color: #242424;
$danger-color: rgb(197, 48, 48);

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  background-color: $background-color;
  color: $font-color;
}

body {
  padding: 1rem;
  h1,
  h2 {
    margin-bottom: 1rem;
  }
}

//nav
nav.nav-menu {
  display: flex;
  margin-bottom: 1rem;
  gap: 1rem;
  .nav-element {
    padding: 0.5rem 1rem;
    border: 1px solid $brand-color;
    font-weight: 500;
    color: $brand-color;
    text-decoration: inherit;
    &.active {
      color: $background-color;
      background-color: $brand-color;
    }
  }
}

//description
ul > li {
  color: $font-color;
  &:nth-of-type(2n) {
    color: $brand-color;
  }
}
ol > li {
  color: $font-color;
  &:nth-of-type(2n) {
    color: $brand-color;
  }
}

//form
form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 30rem;
  input {
    all: unset;
    border: 1px solid $brand-color;
    padding: 0.3rem 0.5rem;
    &:focus {
      border-color: $font-color;
    }
    &[type='submit'] {
      background-color: $brand-color;
      color: $font-color;
      text-align: center;
      cursor: pointer;
    }
  }
  .errors {
    span {
      color: $danger-color;
    }
  }
}

//github project card
.project {
  padding: 1rem;
  border-bottom: 1px solid $brand-color;
  p {
    &:first-of-type {
      font-size: 2rem;
      font-weight: 600;
    }
  }
}
